<ion-view title="Chaperone" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <h1 id="chaperone-heading3" style="color:#000000;text-align:center;">You're seeking a chaperone?</h1>
    <div id="chaperone-button-bar2" class="button-bar">
      <a ui-sref="contactingAllies()" id="chaperone-button10" class="button button-balanced button-block">Yes</a>
      <a ui-sref="home()" id="chaperone-button11" class="button button-assertive button-block">No</a>
    </div>
  </ion-content>
</ion-view>