<ion-view title="Home" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <a ui-sref="profile()" class="button icon ion-android-contact"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 78px;"></div>
    <h1 id="home-heading1" style="color:#000000;text-align:center;">What are you seeking?</h1>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <a ui-sref="phoneCall()" id="home-button1" class="button button-positive button-block">Phone Call</a>
    <a ui-sref="chaperone()" id="home-button2" class="button button-positive button-block">Chaperone</a>
    <a ng-if="allyNeeded" ui-sref="chaperoneView()" id="home-button3" class="button button-positive button-block">Switch to Ally View</a>
  </ion-content>
</ion-view>
