<ion-view title="Login" id="login">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 100px; height: 70px;"></div>
    <h1 id="home-heading1" style="color:#000000;text-align:center;">Safety Pin</h1>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <!--<ion-spinner icon="circles" ng-if="loading"></ion-spinner>-->
    <ion-slides options="options" slider="data.slider" style="height: 350px;">
      <ion-slide-page>
        <div style="text-align: center;">
          <img src="../img/Pinlogo.png">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div style="text-align: center;">
          <h1>Let the mischeif commence!</h1>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div style="text-align: center;">
          <h1>Mischeif managed.</h1>
        </div>
      </ion-slide-page>
    </ion-slides>
    <a ui-sref="home()" id="home-button1" class="button button-positive button-block">Connect With <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
  </ion-content>
</ion-view>
