<ion-view title="No Allies Found" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <center>
      <h4>No allies are currently available. </h4>
      <br>
      <h1>Would you like to seek something else?</h1>
    </center>
    <a ui-sref="home()" id="noAlliesFound-button13" class="button button-balanced button-block">Yes</a>
    <a ui-sref="contactingAllies()" id="noAlliesFound-button14" class="button button-positive button-block">Try Again</a>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>