<ion-view title="Phone Call" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <h1 id="phoneCall-heading2" style="color:#000000;text-align:center;">You're seeking a phone call?</h1>
    <div id="phoneCall-button-bar1" class="button-bar">
      <a ui-sref="contactingAllies()" id="phoneCall-button7" class="button button-balanced button-block">Yes</a>
      <a ui-sref="home()" id="phoneCall-button8" class="button button-assertive button-block">No</a>
    </div>
  </ion-content>
</ion-view>