<ion-view title="Profile" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/XEKmvXedQmiHA5kNXRVZ_male-user-shadow_318-34042.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="profile-form1" class="list">
      <p>
        Name: Harry Potter
        <br> City: Hogsmeade
      </p>
      <ion-toggle ng-model="profile.isOptedIn" toggle-class="toggle-positive" id="profile-toggle1">Opt in as an Ally?</ion-toggle>
      <label class="item item-select" id="profile-select1">
        <span class="input-label">Radius</span>
        <select ng-model="profile.radius" ng-options="radius for radius in radii" ng-value="radius"></select>
      </label>
      <label class="item item-input" id="profile-input2">
        <span class="input-label">Languages</span>
        <input ng-model="profile.languages" type="text" placeholder="i.e English">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <a ng-click="save()" id="profile-button24" class="button button-balanced button-block">Save</a>
  </ion-content>
</ion-view>
